extends ../../layouts/default.pug  


block main 
    h1(class="mb-4") Thêm danh mục tour vào hệ thống 
    form(
        action=`/${prefixAdmin}/categories/edit/${category.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tên danh mục
            input(
                type="input"
                class="form-control"
                id="title"
                name="title"
                value=category.title
                required
            )
        div(class="form-group")
            label(for="image") Chọn ảnh
            input(
                type="file"
                class="form-control-file"
                id="image"
                name="image"
                accept="image/*"
            )     
            img(
                src=category.image
                class="image-preview mt-3"
                upload-image-preview
            )
        div(class="form-group")
            label(for="description") Mô tả 
            textarea(
                class="form-control"
                id="description"
                name="description"
                textarea-mce
            ) !{category.description}
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1" 
                value=category.position
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked = true ? category.status == "active" : false
            )
            label(for="statusActive") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked = true ? category.status == "inactive" : false
            )
            label(for="statusInActive") Dừng Hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật 
    