extends ../../layouts/default.pug  


block main 
    h1(class="mb-4") Chỉnh sửa tour
    form(
        action=`/${prefixAdmin}/tours/edit/${tour.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tên tour
            input(
                type="input"
                class="form-control"
                id="title"
                name="title"
                required
                value=tour.title
            )
        div(class="form-group")
            label(for="category") Danh mục
            select(
                name="category_id"
                id="category"
                class="form-control"
                required
            )
                option(value="" disable selected) --Chọn danh mục--
                each category in categories
                    option(value=category.id selected = (true ? (tour_categories.tour_id == tour.id && tour_categories.category_id == category.id) : false )) #{category.title}   
        div(class="form-group")
            label(for="images") Chọn ảnh
            input(
                type="file"
                class="form-control-file"
                id="images"
                name="images"
                accept="image/*"
                multiple 
            )     
            .swiper.mySwiper
                .swiper-wrapper
                    each image in images    
                        .swiper-slide 
                            img(src=image, alt="" width="200px" height="200px")
        div(class="form-group")
            label(for="price") Giá 
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value=tour.price
                required
            )   
        div(class="form-group")
            label(for="discount") % Giảm giá 
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discount"
                value=tour.discount
            )
        div(class="form-group")
            label(for="stock") Số lượng
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                min="1"
                value=tour.stock
                required
            )
        div(class="form-group")
            label(for="timeStart") Ngày khởi hành
            input(
                type="datetime-local"
                class="form-control"
                id="timeStart"
                name="timeStart"
                value=formattedTimeStart
                required
            )
        div(class="form-group")
            label(for="information") Thông tin của về tour
            textarea(
                class="form-control"
                id="information"
                name="information"
                textarea-mce
            ) !{tour.information}
        div(class="form-group")
            label(for="schedule") Lịch trình của tour
            textarea(
                class="form-control"
                id="schedule"
                name="schedule"
                textarea-mce
            ) !{tour.schedule}
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=tour.position
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked = (true ? tour.status == "active" : false)
            )
            label(for="statusActive") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked = (true ? tour.status == "inactive" : false)
            )
            label(for="statusInActive") Dừng Hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
    