.sider
    .inner-menu 
        ul 
            li 
                a(href=`/${prefixAdmin}/dashboard`) <i class="fa-solid fa-table-columns mr-1"></i> Tổng quan 
            li 
                a(href=`/${prefixAdmin}/categories`) <i class="fa-solid fa-radio mr-1"></i> Quản lý danh mục
            li 
                a(href=`/${prefixAdmin}/tours`) <i class="fa-solid fa-music mr-1"></i> Quản lý tour 
            li 
                a(href=`/${prefixAdmin}/roles/permissions`) <i class="fa-solid fa-lock mr-1"></i> Phân quyền
            li 
                a(href=`/${prefixAdmin}/accounts`) <i class="fa-solid fa-user-tie mr-1"></i> Tài khoản admin
            li 
                a(href=`/${prefixAdmin}/users`) <i class="fa-solid fa-user mr-1"></i> Tài khoản user
            li 
                a(href=`/${prefixAdmin}/settings/general`) <i class="fa-solid fa-gear mr-1"></i> Cài đặt chung